<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/img/devudimudra.png" height="60">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 17px;"><b>Gemas en<br>La Segunda
        Escritura<br>Divina</b></ion-title>

    <ion-buttons slot="end">
      <img src="assets/img/sks.png" height="60">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-color">
  <ion-grid>
    @if(this.global.currentPage<=150){ <ion-row>
      <ion-col class="ion-text-center">
        @if(this.global.currentPage>0){
        <span class="align-icon" style="font-size:30px;"
          (click)="this.global.currentPage=this.global.currentPage-1">☜</span>
        }
        &nbsp; <b><span style="font-size:20px">
            {{this.global.bible[this.global.currentPage].chapterName}}</span></b>&nbsp;
        <ion-icon name="settings-outline" (click)="openSettings()" class="align-icon"></ion-icon>
        &nbsp;
        @if(this.global.currentPage<=149){ <span class="align-icon" style="font-size:30px;"
          (click)="this.global.currentPage=this.global.currentPage+1">☞</span>
          }
      </ion-col>
      </ion-row>
      }
      <ion-row>
        <ion-col>
          @if(this.global.currentPage==150){
          <span [innerHTML]="this.global.bible[this.global.currentPage].pageText | safe:'html'"> </span>
          }

          @if(this.global.currentPage!=150){
          <div class="custom-card" [ngStyle]="{'font-size':this.global.fontSize+'px'}">
            @if(this.global.bible[this.global.currentPage].videoId!=null && this.global.networkStatus=='ONLINE'){
            <ion-row>
              <ion-col class="ion-text-center">
                <div class="viditem">
                  <a class="vid-img-container">
                    <iframe class="vidimg" height="310"
                      [src]="this.global.bible[this.global.currentPage].videoId | safe:'resourceUrl'"
                      allowfullscreen></iframe>
                  </a>
                </div>
              </ion-col>
            </ion-row>
            }
            <ion-row>
              <ion-col>
                <span [innerHTML]="this.global.bible[this.global.currentPage].verse | safe:'html'"> </span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span [innerHTML]="this.global.bible[this.global.currentPage].meaning | safe:'html'"> </span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span [innerHTML]="this.global.bible[this.global.currentPage].pageText | safe:'html'"> </span>
              </ion-col>
            </ion-row>
          </div>
          }
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right">
          @if(this.global.currentPage<150){ <span class="align-icon" style="font-size:30px;margin-right:8px;color:gold;"
            (click)="goToTop()">☞</span>
            }
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <br>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
