/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



* {
  text-align: justify;
  user-select: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.poem {
text-align: center;
}
.poemtext {
display: inline-block;
text-align: justify;
width: 100%;
white-space: pre-wrap;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.img1-title1 {
  position: absolute;
  top: 1%;
  text-align:center;
  width: 100%;
  color:hsl(57, 99%, 49%);
  font-weight: 900;
  font-size: 30px;
}
.img1-title2 {
  position: absolute;
  top: 9%;
  text-align:center;
  width: 100%;
  color:rgb(215, 20, 222);
  font-weight: 900;
  font-size:1.5em;
}
.img7-title2 {
  position: absolute;
  top: 9%;
  text-align:center;
  width: 100%;
  color:white;
  font-weight: 900;
  font-size:1.5em;
}
.img1-title3 {
  position: absolute;
  top: 15%;
  text-align:center;
  width: 100%;
  color:hsl(57, 99%, 49%);
  font-weight: 900;
  font-size: 14px;
}
.img1-title4 {
  position: absolute;
  bottom: 9%;
  text-align:center;
  width: 100%;
  color:hsl(57, 99%, 49%);
  font-weight: 600;
  font-size: 0.8em;
}
.img1-title5 {
  position: absolute;
  bottom: 4%;
  text-align:center;
  width: 100%;
  color:hsl(57, 99%, 49%);
  font-weight: 900;
  font-size: 0.8em;
}
.dm-bottom-left2 {
  position: absolute;
  bottom:36.5%;
  left: 47%;
}
.dm-bottom-left {
  position: absolute;
  bottom:20%;
  text-align: center;
  width: 100%;
}
.dm-top-left {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 100%;
}
.dm-top-right4 {
  position: absolute;
  top: 48%;
  left: 57%;
}
.dm-top-right3 {
  position: absolute;
  top: 41%;
  left: 56%;
}
.top-left {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 100%;
}

.top-right1 {
  position: absolute;
  top: 24%;
  left: 56%;
}
.top-right2 {
  position: absolute;
  top: 33%;
  left: 56%;
}
.bottom-left {
  position: absolute;
  bottom:20%;
  text-align: center;
  width: 100%;
}

.io-jeeva{
  position: absolute;
  top: 33%;
  left: 11%;
}
.io-mind{
  position: absolute;
  top: 33%;
  left:29%;
}
.io-intellect{
  position: absolute;
  top: 35%;
  left:41%;
}
.io-chittam{
  position: absolute;
  top: 35%;
  left:61%;
}
.io-ego{
  position: absolute;
  top: 33%;
  left:79%;
}
.so-eye{
  position: absolute;
  top: 82%;
  left: 3%;
}
.so-nose{
  position: absolute;
  top: 82%;
  left:11%;
}
.so-ear{
  position: absolute;
  top: 82%;
  left:22%;
}
.so-skin{
  position: absolute;
  top: 82%;
  left: 41%;
}
.so-tongue{
  position: absolute;
  top: 82%;
  left:29%;
}

.ao-hands{
  position: absolute;
  top: 82%;
  left:52%;
}
.ao-legs{
  position: absolute;
  top: 82%;
  left:63%;
}
.ao-mouth{
  position: absolute;
  top: 82%;
  left:70%;
}
.ao-anus{
  position: absolute;
  top: 82%;
  left:80%;
}
.ao-sex-organ{
  position: absolute;
  top: 82%;
  left:88%;
}
